body {
    margin: 0;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

#image-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    ;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

img {
    height: 100%;
    width: auto;
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}